.cache
coverage
dist
node_modules
test
.dockerignore
.eslintignore
.eslintrc.js
.gitattributes
.gitignore
.prettierignore
.prettierrc
docker-compose.prod.yml
docker-compose.yml
README.md
*/*.spec.ts
Dockerfile
